<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>csslink}}
    <title>ERROR</title>
</head>
<style>
    .main_header_left {
    height: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    .error{
    width:40rem;
    height:30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    img{
        margin-top: 1rem;
    }
</style>
<body>
<div class="containter-fluid main_header">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
          <div class="col-md-12 col-12 main_header_left align-items-center ">
        <figure class="error">
            <img class="img-fluid" src="error.png" alt="error page">
            <a href="/"><button>Go Back</button></a>
        </figure>
        </div>

      </div>

    </div>

  </div>
</body>
</html>