<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>csslink}}
    <title>WeatherForecast | About us</title>
</head>
{{>footercss}}
<body style="background-image:url('https://wallpapercave.com/wp/xoinmjE.jpg')">
    {{>navbar}}
    <!-- <body style="background-image:url('upload/slider-1-2.jpg')"> -->
    <p class="p" style="text-align:center;font-size:large;font-family:comic sans MS;color:rgb(250, 249, 245)">"THIS PAGE IS CREATED FOR THE SACK OF PROVIDING YOU THE INFORMATION REGARDING THE CURRENT TEMPERATURE AND WEATHER OF YOUR CITY.BASICALLY, THIS PAGE IS ONE OF MY PRACTICES ON SOME WEB DEVELOPMENT PROJECTS. SO, THANK YOU FOR VISITING THE PAGE."
</p>
     <p style="text-align:center;font-family:mistral;color:honeydew">CREATED BY</p>
    <h1 style="text-align:center;font-family:mistral;color:honeydew">-RAJ AGRAHARI</h1>
    {{>footer}}
</body>
</html>